.body {
    margin: auto;
}


.klein {
    display: flex;
    justify-content: center;
}

.kolom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.donkergrijs {
    background-color: #333333;
    color: white;
}

.head {
    width: 60%;
}

.data {
    position: relative;
    z-index: 2;
}

.data h1 {
    font-size: 55px;
    text-align: center;
}

.background4 {
    width: 450px;
    position: absolute;
    top: -30px;
    right: 100px;
    z-index: -1;
}

.data1 {
    display: flex;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 10px;
    padding-left: auto;
    position: relative;
    z-index: 2;
}

.data1wit {
    display: flex;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 10px;
    padding-left: auto;
    position: relative;
    z-index: 2;
}

.background5 {
    width: 570px;
    position: absolute;
    top: 190px;
    right: 90px;
    z-index: -1;
}


.breed {
    display: flex;
    flex-wrap: wrap;

}

.left {
    margin-left: 50px;
    width: 20%;
}

.center {
    width: 50%;
    /*line-height: 23px;
    */
}

.right {
    width: 30%;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.maand {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-right: 40px;
    background-color: rgb(84, 74, 255);
}

.maand1 {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 40px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: rgb(84, 74, 255);
}

.cijfer {
    font-family: 'Rubik', sans-serif;
    font-size: 40pt;
}

.letter {
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
}

.work {
    font-family: 'Rubik', sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.inschrijfknop {
    background-color: rgb(84, 74, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 11pt;
    margin-right: 80px;
    padding: 5px;
    border: 2px white solid;
    text-align: center;
    text-decoration: none;
    color: white;
}


.inschrijfknop:hover {
    color: rgb(84, 74, 255) !important;
    background-color: white;
    border-color: rgb(84, 74, 255);
}

.form {
    /*div form*/
    background-color: #333333;
    width: 320px;
    margin-top: 40px;
    border-radius: 10px;
}

.form p {
    text-align: center;
    color: white;
}

form {
    /*formulier zelf*/
    width: 55%;
    margin: 0;
    box-sizing: border-box;
}

.form-control {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.submit-button {
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: rgb(84, 74, 255);
    border-width: 2px;
    border-color: rgb(84, 74, 255);
    padding: 10px;
    margin-top: 15px;
}

.submit-button:hover {
    color: rgb(84, 74, 255);
    background-color: white
}

.icon {
    height: 14px;
    width: 14px;
}

@media (max-width: 768px) {
    .background4 {
        width: 450px;
        position: absolute;
        top: -60px;
        right: 130px;
        z-index: -1;
    }

    .head {
        width: 90%;
    }

    .inschrijfknop {
        margin-right: 60px;
    }

    .data1 {
        padding-right: 0px;
        padding-left: 0px;

        color: black;
    }

    .data1wit {
        color: white;
        padding-left: 0;
    }

    .grijskleur {
        background-color: #333333;
    }

    .onderstuk {
        margin-left: 0px;
    }

    .background5 {
        display: none;
    }

    .kolom.klein2.donkergrijs {
        width: 100%;
        justify-content: center;
    }

    .form {
        width: 80%;
    }

    .container {
        margin-right: -50px;
    }
}

@media (max-width: 974px) {

    .inschrijfknop {
        margin-right: 50px;
    }

    .form {
        width: 80%;
        margin-left: 0px;
    }

    .center {
        margin-right: -80px;
    }
}

@media (min-width: 320px) {
    .inschrijfknop {
        position: relative;
        right: 85%;
        top: 45px;
        margin-left: auto;
        margin-right: auto;
    }

    .maand1 {
        margin-left: -20px;
        padding-right: 70px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .maand {
        margin-left: -20px;
    }

    .cijfer {
        margin-left: -20px;
    }
}