@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.body {
    margin: auto;
}


.klein {
    display: flex;
    justify-content: center;
}

.kolom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.donkergrijs {
    background-color: #333333;
    color: white;
}

.head {
    width: 60%;
}

.data {
    position: relative;
    z-index: 2;
}

.data h1 {
    font-size: 55px;
    text-align: center;
}

.background4 {
    width: 450px;
    position: absolute;
    top: -30px;
    right: 100px;
    z-index: -1;
}

.bodytext {
    z-index: 1;
}

.bodytext h2,
h3,
li {
    font-family: 'Rubik', sans-serif;
}

p {
    text-align: left;
}

.bodytext p {
    padding: 0;
}

.bodytext h2 {
    font-size: 36px;
    font-weight: lighter;
    margin-top: 55px;
    margin-left: -30px;
}

.bodytext h3 {
    font-size: 24px;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lijstpt1,
.lijstpt2 {
    display: inline-block;
}


.lijstpt2 ul {
    margin-left: 50px
}

.stap {
    display: flex;
}

.stappenplan img {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.stappenplan p {
    width: 70%;
}

.grijsdeel {
    width: 80%;
    padding: 0px 15%;
}

.premiumvid {
    padding: 0px 15%;
}

#premium {
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#ww {
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
}


.premiumlink {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: white;
}

.premiumlink:hover {
    text-decoration: underline;
}

.toelichting {
    margin-right: 5px;
    width: 95%;
}

.fotoondertitel {
    width: 75%;
    margin-top: 2%;
}

@media (max-width: 768px) {
    .kolom {
        width: 100%;
    }

    .kolom p {
        width: 80%;
        padding: 0px 10%;
    }

    .head {
        width: 80%;
    }

    .stap {
        flex-direction: row-reverse;
    }

    .stap p {
        text-align: left;
    }

    .grijstext {
        align-content: center;
    }
}

@media (min-width: 320px) {
    .kolom p {
        width: 100%;
    }

    .grijsdeel {
        width: 100%;
    }

    .bodytekst p {
        text-align: left;
    }

    .grijstext p {
        text-align: center;
    }

    .grijstext h3 {
        text-align: center;
    }

    .premiumvid {
        justify-content: center;
    }
}