@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.body {
    margin: auto;
}


.klein {
    display: flex;
    justify-content: center;
}

.kolom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.donkergrijs {
    background-color: #333333;
    color: white;
}

.head {
    width: 80%;
}

.data {
    position: relative;
    z-index: 2;
}

.data h1 {
    font-size: 55px;
    text-align: center;
}

.background4 {
    width: 450px;
    position: absolute;
    top: -30px;
    right: 100px;
    z-index: -1;
}

.bodytext {
    z-index: 1;
}

.bodytext h2,
h3,
p,
li {
    font-family: 'Rubik', sans-serif;

}


.bodytext h2 {
    font-size: 36px;
    font-weight: lighter;
    margin-top: 80px;
}

.bodytext h3 {
    font-size: 24px;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lijstpt1 {
    display: inline-block;
}

.lijstpt2 {
    display: inline-block;
}


.lijstpt2 ul {
    margin-left: 50px
}

.stap1 {
    display: flex;
}

.stap2 {
    display: flex;
}

.foto2 {
    display: flex;
}

.stap3 {
    display: flex;
}

.stap4 {
    display: flex;
}

.stap5 {
    display: flex;
}

.stap6 {
    display: flex;
}

.stap7 {
    display: flex;
}

.stap8 {
    display: flex;
}

.stap9 {
    display: flex;
}

.stap10 {
    display: flex;
}

.stap11 {
    display: flex;
}

.stap12 {
    display: flex;
}

.stappenplan img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}