/* fotos voor workshop page */

.fotoworkshops {
    margin: 15px 15px 15px 15px;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

.row {
    display: flex;
    flex: grow;
}

.fotoworkshops img {
    height: 200px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    object-fit: cover;
}