/* fotos voor workshop page */

.fotoworkshops {
    margin: 15px 15px 15px 15px;
    display: flex;
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.fotoworkshops img {
    height: 200px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    object-fit: cover;
}