.body {
    margin: auto;
}


.klein {
    display: flex;
    justify-content: center;
}

.kolom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.donkergrijs {
    background-color: #333333;
    color: white;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}