.carousel {
    position: left;
    height: 80%;
    width: 50%;
}

.carousel_image {
    width: 100%;
}

.carousel_track-container {
    background: lightgreen;
    padding: 10px;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
}