.navigationbar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.logonavbar {
    display: flex;
    justify-content: space-around;
}

img {
    height: 100px;
}

nav {
    display: flex;
    justify-content: center;
}

nav>a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}


@media (min-width: 768px) {
    .navigationbar {
        display: flex;
        justify-content: space-between;
    }

    nav>a {
        padding: 20px 30px 20px 30px;
    }

    .navigationbar {
        border-bottom: 5px solid rgb(240, 198, 84);
    }
}

@media (min-width: 1020px) {
    .wrapper {
        width: 1020px;
        margin: auto;
    }
}