@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.navigationbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.nav1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav1 img {
    height: 60px;
}

img {
    height: 500px;
}

.nav2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav>a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .navigationbar {
        justify-content: space-between;
    }

    .nav1{
        width: auto;
    }

    .nav2{
        width: auto;
    }

    nav>a {
        padding: 20px 30px 20px 30px;
    }
    
    .wauwfoto{
        width: 66%;
    }
    
    .beschrijving{
        width: 33%;
        background-color: rgb(238,109,68);
    }

}

@media (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin: auto;
    }
}