@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

main {
    margin-top: 50px;
}

.knopzwartwit {
    font-family: 'rubik';
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(84, 74, 255);
    border: 2px #333333 solid;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 40%;
}

.knopzwartwit:hover {
    color: rgb(84, 74, 255);
    background-color: white;
    border: 2px rgb(84, 74, 255) solid;
}

.knopzwartwit {
    border: #333333 2px solid;
}

.kids {
    width: 1280px;
    display: flex;
    margin: auto;
}

.carousel {
    position: relative;
    height: 580px;
    width: 50%;
}

.kids-text {
    width: 50%;
    font-family: 'Rubik';
    font-weight: 400;
    background-color: #333333;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel_image {
    width: 100%;
}

.carousel_track-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 280ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    border-radius: 10%;
    margin: 10px;
    cursor: pointer;
    z-index: 2;
}

.carousel_button--left {
    left: 0px;
}

.carousel_button--right {
    right: 0px;
}

.carousel_button img {
    width: 40px;
}

.carousel_nav {
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 10px;
    cursor: pointer;
}

.carousel_indicator.current-slide {
    background: rgba(0, 0, 0, .75);
}

.is-hidden {
    display: none;
}

h2 {
    font-size: 80px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-weight: 400;
}

.adults {
    width: 1280px;
    display: flex;
    margin: auto;
}

.carousel2 {
    position: relative;
    height: 580px;
    width: 50%;
}


.carousel_image2 {
    width: 100%;
}

.carousel_track-container2 {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.carousel_track2 {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 280ms ease-in;
}

.carousel_slide2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button2 {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    border-radius: 10%;
    margin: 10px;
    cursor: pointer;
    z-index: 2;
}

.carousel_button--left2 {
    left: 0px;
}

.carousel_button--right2 {
    right: 0px;
}

.carousel_button2 img {
    width: 40px;
}

.carousel_nav2 {
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.carousel_indicator2 {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 10px;
    cursor: pointer;
}

.carousel_indicator2.current-slide2 {
    background: rgba(0, 0, 0, .75);
}

.is-hidden2 {
    display: none;
}

.adults-text {
    width: 50%;
    font-family: 'Rubik';
    font-weight: 400;
    background-color: #333333;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.adults {
    margin-top: 70px;
}

.part {
    width: 1280px;
    display: flex;
    margin: auto;
}

.part-text {
    width: 50%;
    font-family: 'Rubik';
    font-weight: 400;
    background-color: #333333;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.part {
    margin-top: 120px;
    margin-bottom: 100px;
}

.carousel3 {
    position: relative;
    height: 580px;
    width: 50%;
}


.carousel_image3 {
    width: 100%;
}

.carousel_track-container3 {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.carousel_track3 {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 280ms ease-in;
}

.carousel_slide3 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button3 {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    border-radius: 10%;
    margin: 10px;
    cursor: pointer;
    z-index: 2;
}

.carousel_button--left3 {
    left: 0px;
}

.carousel_button--right3 {
    right: 0px;
}

.carousel_button3 img {
    width: 40px;
}

.carousel_nav3 {
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.carousel_indicator3 {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 10px;
    cursor: pointer;
}

.carousel_indicator3.current-slide3 {
    background: rgba(0, 0, 0, .75);
}

.is-hidden3 {
    display: none;
}